<div>
    <h2>Add product</h2>
    <form>
        <div>
            <label for="title">Title</label>
            <input type="text" id="title" name="title" placeholder="Title">
        </div>
        <div>
            <label for="price">Price</label>
            <input type="number" id="price" name="price" placeholder="Price">
        </div>
        <div>
            <label for="description">Description</label>
            <input type="text" id="description" name="description" placeholder="Description">
        </div>
        <div>
            <label for="thumbnail">Thumbnail</label>
            <input type="text" id="thumbnail" name="thumbnail" placeholder="Thumbnail">
        </div>
        <button type="submit">Add</button>
    </form>
</div>

<div>
    <h1>Product catalogue</h1>
    <table id="table">
        <thead>
            <tr>
                <th>id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody id="tableBody">
            {{#each productos}}
            <tr>
                <td>{{id}}</td>
                <td>{{title}}</td>
                <td>{{price}}</td>
                <td>{{description}}</td>
                {{!-- <td><img src="{{this.thumbnail}}" alt="not found" width="50" height="50"></td> --}}
            </tr>
            {{/each}}
        </tbody>
</div>


<script>src="/socket.io/socket.io.js"</script>
<script>src="/js/index.js"</script>